@using SampleApp.UI1.Components

@inject IStringLocalizer<Localization.Locals> Localizer

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (!(context.User.Identity?.IsAuthenticated ?? false))
                    {
                        <RedirectToLogin />
                    }
                    else
                    {
                        <p role="alert">@Localizer["NotAuthorized"]</p>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>@Localizer["NotFound"]</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">@Localizer["NotFound"]</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

