@using SampleApp.UI1.Components
@using SampleApp.UI1.Utility

@inject IStringLocalizer<Localization.Locals> Localizer
@inject Microsoft.AspNetCore.Components.Authorization.AuthenticationStateProvider AuthenticationStateProvider

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData"> @*  DefaultLayout="@typeof(EmptyLayout)" *@
                @* Handled in initialize *@
                <NotAuthorized>
                    @* Entire app requires authentication *@
                    <RedirectToLogin />

                    @* Some pages are anonymous, others @attribute [Authorize] *@
                    @* @if (!(context.User?.Identity?.IsAuthenticated ?? false))
                    {
                        <RedirectToLogin />
                    }
                    else
                    {
                        <p role="alert">@Localizer["NotAuthorized"]</p>
                    } *@
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>@Localizer["NotFound"]</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">@Localizer["NotFound"]</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
